body {
  margin: 0 auto;
  text-align: center;
  line-height: 0.8em;
  letter-spacing: 2px;
  background: linear-gradient(to right, #373b44, #4286f4);
  font-family: Poriet One;
  font-size: 1.1em;
}
h1 {
  padding-top: 10px;
  font-family: Permanent Marker;
}
form p {
  text-align: left;
}
.container {
  text-align: center;
}
form {
  padding: 30px;
  padding-bottom: 15px;
  width: 60%;
  border-radius: 10px;
  background:#ECF0F1;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: center;
  margin: 2% auto;
  position: relative;
}

.form-group {
  line-height: 1px;
  text-align: left;
  display: block;
}
#no-name {
  display: none;
  margin-top: 2%;
}
#start-btn {
  color: white;
  background: #4286f4;
  outline-style: none;

}
#start-btn:hover {
  background: white;
  color: #4286f4;
  border: 1px solid #4286f4;
}
 .inputs {
  /* text-align: left;
  width: 10%;
  margin: 0 auto; */
  /* border: 1px solid black; */
  margin: 0 auto;
  position: relative;
  left: 2%;
}
input[type=radio] {
  display: none;
}
.arrow:hover {
  font-size: 18px;
  cursor: pointer;
  color: #4286f4;
}
.circle {
  display: inline-block;
  width: 11px;
  height: 11px;
  background: inherit;
  border: 1px solid #4286f4;
  display: absolute;
  top: 0;
  bottom: 0;
  border-radius: 50%;
}
.circle:hover {
  background: #4286f4;
}
input[type=radio]:checked + .circle {
  background: #4286f4;;
}
#submit {
  color: white;
  outline-style: none;
  background: #28B463;
  border: 1px solid #28B463;
}
#submit:hover {
  background: white;
  color: #28B463;

}
.fa-arrow-right {
  position: absolute;
  right: 10%;
  bottom: 5%;
}
.arrow {
  text-align: right;
  padding-right: 50px;
  display: inline-block;
}
#arrow-left {
  text-align: left;
  position: absolute;
  left: 10%;
  bottom: 5%;
}
#form2,#form1 {
  display: none;
}
 /* label,input {
   margin-right: 5px;
  margin-left: 5px; 
  padding-left: 5px;
}  */
label {
  margin-left: 10px;
  letter-spacing: 2px;
}
#score {
  display: none;
} 
.name-display {
  font-size: 27px;
  font-family: Permanent Marker;
}
.scoreDisplay {
  font-size: 25px;
  font-family: Permanent Marker;
}
.enter-name {
  border: 2px solid red;
}
